[alias]
	co = checkout
	br = branch
	brs = branch -r --sort=-committerdate
	ci = commit
	st = status -s
	di = diff
	ca = commit -a
        ada = add -A
        stepback = reset --hard HEAD~1
	unstage = reset HEAD --
        llog = log --date=local
	whois = "!sh -c 'git log -i -1 --pretty=\"format:%an <%ae>\n\" --author=\"$1\"' -"
	whatis = show -s --pretty='tformat:%h (%s, %ad)' --date=short
        slog = log --stat
	lg = log --graph --pretty=format:'%Cred%h%Creset -%Creset%<(70,mtrunc) %s %Cgreen%cd %C(bold blue)%<(15,trunc)%aN %Cblue<%aE>%Creset' --date=short
        untrack = rm --cache --
	up = "!git remote update -p; git merge --ff-only @{u}"
        logupdated = log --oneline --name-status ORIG_HEAD..
	branchnews = branch --sort=-committerdate -r
	cl = git clean -fd
[user]
	name = Charlie Turner
	email = mail@charles.plus
[core]
	editor = vim
# https://stackoverflow.com/questions/34119866/setting-up-and-using-meld-as-your-git-difftool-and-mergetool
[diff]
        tool = meld
[difftool]
        prompt = false
[difftool "meld"]
        cmd = meld "$LOCAL" "$REMOTE"
[merge]
    tool = meld
[mergetool "meld"]
    # Choose one of these 2 lines (not both!) explained below.
    cmd = meld "$LOCAL" "$MERGED" "$REMOTE" --output "$MERGED"
    #cmd = meld "$LOCAL" "$BASE" "$REMOTE" --output "$MERGED"
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[sendemail]
	smtpEncryption = tls
	smtpServer = mail.igalia.com
	smtpUser = cturner
	smtpServerPort = 587
